<h1>Hi, I'm your stupid coach.</h1>

<form action="/answer" method="get">
  <label for="question">
    Ask me something...
  </label>
  <input type="text" name="question">
  <input type="submit">
</form>
